@model IEnumerable<textile.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materialtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pricepermeter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materialtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pricepermeter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Supplierid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Productid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Productid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Productid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
